:root {
    --jewel: #4717f6; /* rgb(71, 23, 246) */
    --fuschia: #a239ca; /* rgb(162, 57, 202) */
    --fuschia-dk: #70258d;
    --void: #0e0b16;
    --void-lt: #9888c3;
    --void-ltr: #e2ddee;
    --stark: #e7dfdd;
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: var(--void);
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  
span, a {
    color: var(--fuschia);
    /*border-bottom: 1px dotted var(--stark);*/
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    margin: 0;

}
.test + .tooltip.top > .tooltip-inner {
    background-color: var(--jewel);
    color: var(--stark);
    border: 1px solid var(--jewel);
    padding: 10px;
    font-size: 1.2em;
    position: absolute;
    top: -50px;
    right: 50%;
    margin: 0;
}
.blur {
    background-color: rgba(226, 221, 238, .8);
    margin-right: 30vw;
    margin-left: 30vw;
    box-shadow: 0 0 15px var(--void-ltr);
}
.fuschia-fg {
    color: #a230ca;
}
.btn-default {
    background-color: var(--fuschia);
    border: 1px solid #70258d;
}
.btn-danger {
    background-color: var(--fuschia);
    border: 1px solid #70258d;
}
.btn:hover {
    background-color: var(--fuschia-dk);
    border: 1px solid #70258d;
}
.jumbotron {
    background: linear-gradient( to top right, rgba(71, 23, 246, 0.5), rgba(162, 57, 202, 0.5) ), url("./img/radio-blue.png") no-repeat;
    background-size: cover;
    color: var(--void);
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
#dial {
    background: linear-gradient( to top right, rgba(71, 23, 246, 0.5), rgba(71, 23, 246, 0.5) ), url("./img/dial.png") no-repeat;
    height: 50px;
    width: 50px;
}
.container-fluid {
    padding: 10px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
    color: #a230ca;
}
.logo {
    color: #f4511e;
    font-size: 200px;
    color: #a230ca;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: var(--fuschia);
}
.carousel-indicators li.active {
    background-color: var(--fuschia);
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid var(--fuschia); 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
    color: #a230ca;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    color: #a230ca;
}
.panel-footer .btn:hover {
    border: 1px solid #70258d;
    background-color: var(--fuschia-dk) !important;
    color: #f4511e;
    color: #a230ca;
}
.panel-heading {
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #a230ca !important;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    background-color: var(--fuschia-dk) !important;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: var(--jewel);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    color: var(--fuschia) !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
    color: var(--fuschia);
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
#email {
    margin-left: 30vw;
    margin-right: 30vw;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
        background-color: var(--fuschia) !important;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    color: #a230ca;
    }
}
