* {
    box-sizing: border-box;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/ketopizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2 {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}
#heading {
    padding: 5vh;
}
input {
    background-color: #5e6687;
    border: 1px solid #272a38;
    border-radius: 4px;
}
.tall {
    height: 3em;
    margin: 5px;
}
img {
    margin: 4vw;
    height: 100%;
    border-radius: 50%;
}
p {
    padding: 50px;
}
fieldset {
    border: none;
    width: 50%;
}
select {
    width: 48%;
    margin: 5px;
    text-align-last: left;
}
.right {
    text-align: right;
}
#tagline {
    height: auto;
    width: 60vw;
    padding: 0 6vw 4vh 0;
    margin-bottom: 5vh;
    border: 1px solid black;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #5d9634,
        #5d9634 50%,
        #538c2b 50%,
        #538c2b
    );
    background-size: 100% 20px;
}
#top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    width: 60vw;
    height: auto;
    padding: 3vw;
    background:
        repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            #750202 10px,
            #750202 20px
    ),
    linear-gradient(
        to bottom,
        #7e0202,
        #7e0202
    );
    margin-bottom: 5vh;
}
#who {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    width: 50%;
    margin-bottom: 5vh;
    padding-right: 1.5vw;
}
#where {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    width:50%; 
    margin-bottom: 5vh;
    padding-left: 1.5vw;
}
#what {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    width: 60vw;
    border: 1px solid black;
    padding: 50px;
    margin-bottom: 5vh;
    background: repeating-linear-gradient(
        to right,
        #f6ba52,
        #f6ba52 10px,
        #ffd180 10px,
        #ffd180 20px
    );
}
#commentbox {
    background-color: #f6ba52 ;
    height: 20vh;
    padding: 50px;
}
#buttons {
    height: 20vh;
    width: 90vw;
}


